<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/styles/error.css">
</head>
<body>
    <div class="section">
        <div class="left">
            <h1>404 - Error</h1>
            <h2><%= errorMsg%></h2>
            <p>Kindly recheck your url address</p>
            <a href="/"><button>Back to Home</button></a>
        </div>
        <div class="right">
            <img id="space" src="/error.png" alt="">
        </div>
    </div>

</body>
</html>