<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message by <%=message.user%></title>
</head>
<body>
    <h1>Message Detail</h1>
    <div class="message">
            <div class="msg">
                <p>Text : <%= message.text %></p>
                <p>By : <%= message.user %></p>
                <p>On : <%= message.added.toDateString() %></p>
                <a href="/">go back</a>
            </div>
    </div>


</body>
</html>
