:root {
    --bgcolor: #aae4f9dc;
    --fontcolor: #091b3e;
    --secondrybg: #3da0d9a6;
    --heading: #edf0f5;
}

*{
    margin: 0;
    padding: 0;
}


body{
    background: url('/background.jpg') no-repeat fixed;
    background-size: 100%;
    color: var(--fontcolor);
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    position: sticky;
    padding: 10px 50px;
    background: var(--bgcolor);
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--fontcolor);
    margin-bottom: 50px;
}

nav h2{
    color: var(--fontcolor);
}

nav button{
    font-size: 1rem;
    padding: 8px 12px;
    border: 1px solid var(--fontcolor);

}

button{
    border: 1px solid var(--heading);
    background: none;
    border-radius: 20px;
    color: var(--fontcolor);
    padding: 5px 10px;
}

button:hover{
    background-color: var(--secondrybg);
}