:root {
    --bgcolor: #000000;
    --fontcolor: #FFF078;
    --secondrybg: #282828;
    --heading: #E90074;
}

*{
    margin: 0;
    padding: 0;
}


body{
    background-color: black;
    color: var(--fontcolor);
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    padding: 10px 50px;
    background: var(--bgcolor);
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--fontcolor);
    margin-bottom: 50px;
}

nav h2{
    color: var(--heading);
}

nav button{
    font-size: 1rem;
    padding: 8px 12px;
}

button{
    border: 1px solid var(--heading);
    background: none;
    border-radius: 20px;
    color: var(--fontcolor);
    padding: 5px 10px;
}

button:hover{
    background-color: var(--secondrybg);
}